*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body, html{
    height: 100%;
    width: 100%;
}

header{
    display: flex;
    flex-direction: column;
    justify-content:center;
    width: 100%;
    height: 20%;
    min-height: 185px;
    background: rgb(41,31,43);
    background: linear-gradient(90deg, rgba(41,31,43,1) 0%, rgba(56,16,56,1) 50%, rgba(41,31,43,1) 100%);
    padding-bottom: 10px;
}

.appnamecontainer{
    display: flex;
    flex-direction: row;
    align-self: center;
    margin: 20px;
}

.logo{
    width: 65px;
    margin-right: 7px;
}

.appname{
    align-self: center;
    margin-left:7px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color:white;
}

.searchbarcontainer{
    display:flex;
    align-self: center;
    background-color: white;
    border-radius: 10px;
    width: 300px;
    border: 1px solid rgba(0,0,0,0.3);
}

.searchicon{
    width: 17px;
    height: 17px;
    box-sizing: content-box;
    align-self: center;
    padding-left: 5px;
}

.searchbar{
    border: none;
    height: 25px;
    width: 85%;
    padding-left:5px;
}

.searchbar:focus{
    outline: none;
}

.arrowicon{
    width: 17px;
    height: 17px;
    box-sizing: content-box;
    align-self: center;
    padding-right: 5px;
}

.arrowicon:hover{
    cursor: pointer;
}

.unitsbtn{
    width: 150px;
    height: 35px;
    border: 0;
    padding: 0;
    align-self: center;
    margin-top: 15px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
    color:white;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 5px;
}

.unitsbtn:hover{
    background-color: rgba(255, 255, 255, 0.4);
    cursor:pointer;
}

main{
    display:flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height:80%;
    background-image: url('images/clouds.jpg');
    background-size:cover;
    box-shadow: 0px 0px 2px black;
}

.lowopacityblack{
    display: flex;
    justify-content: center;
    background: linear-gradient(90deg, rgba(0,0,0,0.25) 0%, rgba(128,128,128,0.25) 25%, rgba(213,213,213,0.25) 50%, rgba(128,128,128,0.25) 75%, rgba(41,31,43,0.25) 100%);
    width:100%;
    height: 100%;
}

.placedatacontainer{
    display:flex;
    flex-direction: column;
    margin-top: 75px;
    width: 25%;
    height: 60%;
    min-height: 450px;
    color:white;
    background: rgba(70, 2, 85, 0.35);
    box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
    backdrop-filter: blur( 12px );
    -webkit-backdrop-filter: blur( 12px );
    border-radius: 10px;
    padding: 25px;
    min-width: 400px;
}

h2{
    font-size: 32px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 10px;
    align-self: center;
}

.tempiconvalue,.humidityiconvalue,.windiconvalue{
    display:flex;
    flex-direction: row;
}

.tempicon,.humidityicon,.windicon{
    width: 50px;
}

h3{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-bottom: 20px;
    margin-top: 20px;
}

h4{
    align-self: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 20px;
}

@media screen and (max-width: 950px) {
    html{
        width:100%;
        height:100%;
    }

    header{
        min-height: unset;
        height: 28%;
    }

    .unitsbtn{
        width:120px;
        font-size:17px;
    }

    main{
        min-height:unset;
        height: 72%;
    }

    .placedatacontainer{
        margin-top: 20px;
        min-height: 90%;
        min-width: 90%;
    }

    .cityname{
        font-size: 24px;
    }
}